# https://stackoverflow.com/a/5250314

# ignore everything
*

!.gitignore
!README.md

# include these in source
!Cloud/
!Cloud/start/
!Cloud/transfers/
!Cloud/util/
!Cloud/updates/
!.config/
!.config/nginx/
!.config/nginx/**.conf
!.config/nginx/**.conf.bak
!.config/nginx/**.conf.disabled
!.config/nginx/upstream.d/
!.config/nginx/upstream.d/**.conf
!.config/nginx/upstream.d/**.conf.bak
!.config/nginx/upstream.d/**.conf.disabled
!.config/nginx/sites.d/
!.config/nginx/sites.d/**.conf
!.config/nginx/sites.d/**.conf.bak
!.config/nginx/sites.d/**.conf.disabled
!.config/ssl/
# and not .sh files
!**.sh
!**.cron

# transmission settings
!.config/transmission-daemon/
!.config/transmission-daemon/settings.json
!.config/transmission-daemon-book/
!.config/transmission-daemon-book/settings.json
!.config/transmission-daemon-free/
!.config/transmission-daemon-free/settings.json
!.config/transmission-daemon-fwx/
!.config/transmission-daemon-fwx/settings.json
!.config/transmission-daemon-mm/
!.config/transmission-daemon-mm/settings.json
!.config/transmission-daemon-mov/
!.config/transmission-daemon-mov/settings.json
!.config/transmission-daemon-tv/
!.config/transmission-daemon-tv/settings.json
